@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 32px;
  font-weight: bold;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .answer {
  width: 402px;
  height: 270px;
  display: flex;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}

.container .keypad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  width: 402px;
  height: 518px;
  gap: 20px;
  padding: 0px 10px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: flex;
  justify-content: space-around;
}

.division,
.equal,
.minus {
  font-size: 46px;
}

.backspace {
  font-size: 26px;
}

.ac,
.modulo,
.backspace,
.division,
.seven,
.eight,
.nine,
.multiply,
.four,
.five,
.six,
.minus,
.one,
.two,
.three,
.plus,
.double-zero,
.zero,
.dot,
.equal {
  color: white;
  width: 79px;
  height: 79px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.equal {
  background-color: #f08221;
}

.final-answer {
  font-size: 44px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
}

.question {
  font-size: 34px;
  color: #9e9b9b;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 20px;
  /* letter-spacing: 1em; */
}

.ac:hover,
.modulo:hover,
.backspace:hover,
.division:hover,
.seven:hover,
.eight:hover,
.nine:hover,
.multiply:hover,
.four:hover,
.five:hover,
.six:hover,
.minus:hover,
.one:hover,
.two:hover,
.three:hover,
.plus:hover,
.double-zero:hover,
.zero:hover,
.dot:hover,
.equal:hover {
  background-color: #4e4e4e;
  cursor: pointer;
}
